<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://logowik.com/content/uploads/images/angular9826.logowik.com.webp"
      cardTitle="ANGULAR"
      cardDescription="Angular é um framework poderoso e abrangente para o desenvolvimento de aplicações web modernas e dinâmicas."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="HTML é a espinha dorsal da web"
      photoCover="https://media.licdn.com/dms/image/D4D12AQEaTK5_cv5Fmg/article-cover_image-shrink_720_1280/0/1677082453584?e=2147483647&v=beta&t=hy4wcIl2vOpp5lr5k74obYVN63IT-U4lydNOIo3hHGo"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="CSS permite controlar o estilo e o layout de páginas web,"
      photoCover="https://ideacdn.net/idea/ct/82/myassets/blogs/css-nedir-css3.jpg?revision=1581695062"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="TYPESCRIPT para criar aplicativos web dinâmicos, incluindo páginas dinâmicas"
      photoCover="https://blog.openreplay.com/images/improving-code-quality-in-typescript-with-compiler-options/images/hero.png"
    >
    </app-small-card>
  </div>
</div>

